:root {
    --marron: #412512;
    --quesito: #df9a39;
    --chanchito: #ecd0b8;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --ligth: #f1efdd;  
    --tomate: #e54424;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    position: relative; 
    bottom: 70px;
    max-width: 600px;
    margin: 4px auto;
    padding: 8px;
    background-color: #ffff; 
    border-radius: 70px;
}

.container-button {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-seeOrder{
    margin-top: 38px;
    width: 90%;
    height: 50px;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}